/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
$backgroundColor: #2A2731;

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: $backgroundColor;
}

html, body {
  height: 100%;
}
