<div class="content">
  <p *ngIf="isProfile">MY MEETINGS {{date}}</p>
  <p *ngIf="!isProfile">SET UP {{date}}</p>
  <button *ngIf="isProfile && date != null" (click)="clickAddMeeting.emit(date)">ADD MEETING</button>
  <div class="meetings">
    <div *ngFor="let meeting of meetings">
      <app-meeting
        id={{meeting.id}}
        date={{meeting.meetingDate}}
        hourStart={{meeting.hourStart}}
        hourEnd={{meeting.hourEnd}}
        [isProfile]="isProfile"
        (clickSetUp)="handleSetUpClick($event)"
      >
      </app-meeting>
    </div>
  </div>
</div>
