<div class="flex-container">
  <div>
    <h1>
      Set up
    </h1>
    <a class="close"></a>
    <div class="form-container">
      <form
        [formGroup]="setUpForm"
        (ngSubmit)="onSubmit()"
        *ngIf="!isSuccess"
      >
        <span class="subtitle">First name:</span>
        <input
          formControlName="firstName"
          required
        />
        <span class="subtitle">Last name:</span>
        <input
          formControlName="lastName"
          required
        />
        <span class="subtitle">Email:</span>
        <input
          formControlName="email"
          required
          email
        />

        <input type="submit" value="SUBMIT" class="submit-btn">
      </form>
      <div class="successMsg" *ngIf="isSuccess">
        <fa-icon class="checkIcon" [icon]="faCheck"></fa-icon>
        Meeting is set up.
      </div>
    </div>
  </div>
</div>
