<div class="meeting">
  <div class="content">
    <div class="meeting-info">
      <div class="dataGroup">
        <label>Date: </label>
        <div class="date data">
          {{date}}
        </div>
      </div>
      <div class="dataGroup">
        <label>Start: </label>
        <div class="hour data">
          {{hourStart}}
        </div>
      </div>
      <div class="dataGroup">
        <label>End:&nbsp;&nbsp;</label>
        <div class="hour data">
          {{hourEnd}}
        </div>
      </div>
    </div>

    <button (click)="cancelMeeting()" *ngIf="isProfile">Cancel</button>
    <button (click)="clickSetUp.emit(id)" *ngIf="!isProfile">Set up</button>

  </div>
</div>
