.picker {
  background-color: black;
  border-radius: 10px;
  padding: 60px;
  width: 330px;
  margin-left: 30px;
}

.hour {
  color: #7A7585;
  border: 1px solid #7A7585;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;

  &--selected {
    border-color: #2B662E;
    background-color: #1F4921;
    color: #A9D3AB;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 90%;
  height: 55px;
  border-radius: 10px;
  background-color: #76A9FF;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

p {
  color: white;
  margin-bottom: 55px;
}
