<body>
  <h1>Pick a day</h1>
  <div class="calendar">
    <div class="calendar__opts">
      <select name="calendar__month"
              id="calendar__month"
              [(ngModel)]="selectedMonth"
              (ngModelChange)="onChangeObj($event)">
        <option *ngFor="let month of monthList" [value]="month.value">{{month.text}}</option>
      </select>
    </div>

    <div class="calendar__body">
      <div class="calendar__days">
        <div>MON</div>
        <div>TUE</div>
        <div>WED</div>
        <div>THU</div>
        <div>FRI</div>
        <div>SAT</div>
        <div>SUN</div>
      </div>

      <div class="calendar__dates">
        <div *ngFor="let day of prevDays" class="calendar__date calendar__date--grey"><span>{{day}}</span></div>
        <div *ngFor="let day of days" class="calendar__date"><span>{{day}}</span></div>
      </div>
    </div>

  </div>

</body>
