<div class="login">
  <app-navbar></app-navbar>
  <div class="flex-container">
    <div>
      <h1>
        Sign up
      </h1>
      <div class="form-container">
        <form>
          <br>
          <br>
          <span class="subtitle">Username:</span>
          <br>
          <input type="text" name="username" value="">
          <br>
          <span class="subtitle">Password:</span>
          <br>
          <input type="password" name="password" value="">
          <br><br>
          <input type="submit" value="SUBMIT" class="submit-btn">
        </form>
      </div>
    </div>
  </div>
</div>
